<px-header></px-header>
<div class="queue">
    <h1>Оберіть час прийому</h1>
    <h2>Лікар: {{currentDoc}}</h2>
    <ul class="queueList">
        <!--<li ng-repeat="partsOfQueue in partsOfQueues" ng-style="{{checkNote(this.partsOfQueue.notes)}}">-->
        <!--<div class="sisterAlarmBg">-->

        <!--</div>-->
        <!--<div class="parentLinkInLi">-->
        <!--<a ng-click="setQueueItem(this.partsOfQueue.from, this.partsOfQueue.to)">-->
        <!--{{convertTimestumpToDate(partsOfQueue.from)}}—{{convertTimestumpToDate(partsOfQueue.to)}}-->
        <!--</a>-->
        <!--</div>-->
        <!--</li>-->
        <div class="minute">
            <span ng-repeat="min in queues.minutes" ng-style="queues.countOfInterval">{{min}}</span>

        </div>

        <div class="hour">
            <li ng-repeat="(k,hour) in queues.hours">
                <div class="titleHour">
                      <span>
                    {{hour}}
                </span>
                </div>
                <div class="titleInputParent">
                    <div ng-style="queues.countOfInterval" class="titleInput" ng-repeat="(key,min) in queues.minutes">
                        <!--<input type="checkbox" name="check">-->
                        <span ch data-min="{{key+1}}" data-hour="{{k+1}}" data-test="{{k+1%2}}"  ></span>
                    </div>
                </div>
            </li>
        </div>

    </ul>

    <div calendar class="calendarMainBlock">

    </div>
</div>