px-header{
  header{
    width: 100%;
    padding: 20px 0 0;
    text-align: center;
    //background: #394260;
    //border-bottom: 2px solid white;
    img{
      width: 50%;
      padding: 7px 0 0;
    }
  }
}